/* *{
  font-family: 'IBM Plex Sans', sans-serif !important;
} */

.selector-for-some-widget {
  box-sizing: content-box;
}

.Title{
  padding: 80px 0 0 0;
}

.register{
  margin: 80px 0;
}

#tambahRuangan{
  visibility: visible;
}

.card-img-top{
  width: 100%;
  max-width: 300px;
  height: 215px;
}

footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

.cardRuangan:hover{
  box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0,75);
}
